@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  height: 100%;
  background: rgb(113, 14, 111);
  background: linear-gradient(
    90deg,
    rgba(113, 14, 111, 1) 5%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 20%,
    rgba(241, 7, 7, 1) 25%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 45%,
    rgba(0, 233, 255, 1) 50%,
    rgba(0, 0, 0, 1) 55%,
    rgba(0, 0, 0, 1) 70%,
    rgba(1, 255, 0, 1) 75%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 1) 90%,
    rgba(121, 128, 0, 1) 95%
  );
}

.header__container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__title {
  font-family: "Bebas Neue", cursive;
  font-size: 100px;
  color: #000000;
  background-color: #f7d62f;
  padding: 5px 15px 1px;
}

.charactersList__container {
  align-items: flex-end;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.main__search{
  border: 2px;
  border-radius: 20px;
  width: 40%;
  height: 40px;
  padding: 5px;
}

.main__button{
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  border: 2px;
  border-radius: 20px;
  margin-left: 10px;
  height: 40px;
  width: 20%;
  background-color: rgb(8, 191, 252);
  border-radius: 20px;
  transition: all 0.3s linear;
}

.main__button:hover{
  color: #f7d62f;
  background-color: rgb(255, 0, 0);
  transition: all 0.3s linear;
}

.main_err{
  color: white;
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
}

#charactersList {
  display: flex;
  width: 90%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
}

.hideInfo {
  display: none;
}

.charItem {
  border: 12px;
  border-radius: 30px;
  background-image: url(src/newHope.png);
  background-size: cover;
  padding: 10px 10px;
  width: 25%;
  text-align: center;
}

.charInfo, .charInfoMain{
  color: aliceblue;
  font-size: 25px;
  font-family: "Bebas Neue", cursive;
}

.charButtons{
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(8, 191, 252);
  border: 2px;
  border-radius: 20px;
  transition: all 0.3s linear;
}

.charButtons:hover{
  color: rgb(242, 255, 0);
  width: 100%;
  background-color: rgb(255, 0, 0);
  transition: all 0.3s linear;
}

.selectedtext {
  color: rgb(6, 251, 59);
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 60px;
}

.footer__pagination {
  display: flex;
  justify-content: center;
}

.footer__list {
  display: flex;
  gap: 2px;
}

.footer__list-item {
  border: 2px;
  border-radius: 80px;
  padding: 4px 6px;
  font-size: 30px;
  background-color: rgb(8, 191, 252);
  transition: all 0.3s;
}

.footer__list-item:hover {
  background-color: #fb0000;
  transition: all 0.3s;
}

.footer__link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.footer__link:hover {
  color: rgb(242, 255, 0);
}

.activePagbutton {
  background-color: rgb(255, 0, 0);
}

@media (max-width: 800px) {
  .charItem {
    width: 70%;
  }

  #charactersList {
    flex-direction: column;
    align-content: center;
    width: 100%;
  }

  .main__form{
    flex-direction: column;
  }

  .main__button{
    margin-left: 0;
    margin-top: 10px;
    width: 40%
  }

  .main__search{
    width: 100%;
  }
}

@media (max-width: 450px) {
  .header__title {
    font-size: 60px;
  }
}






